@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&family=Berkshire+Swash&family=Cookie&family=Estonia&family=Galada&family=Great+Vibes&family=Josefin+Slab:wght@100;400&family=Noto+Serif+Makasar&family=Poppins:wght@400;500;600;700;800;900&family=Tangerine&display=swap');
.tg {
  font-family: Berkshire Swash;
}
.Noto {
  font-family: Noto Serif Makasar;
}
.neu {
  background: linear-gradient(145deg, #212428, #212428);
  border-radius: 20%;
  box-shadow: 10.21px 10.21px 11px #212428, -10.21px -10.21px 11px #212428;
  color: white;
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #ff56b6 21.43%,
    #b936ee 50.63%,
    #3bace2 100%,
    #406aff 117.04%
  );
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
}

.btn {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
}

.gradient,
.active {
  background: #212428;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3), -6px -6px 6px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  height: 68px;
  width: 68px;
  color: #ff0000;
}
.active2 {
  background: #212428;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3), -6px -6px 6px rgba(0, 0, 0, 0.3);
  border-radius: 10%;
  height: 38px;
  width: 100px;
}
.buttons a {
  background: #212428;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3), -6px -6px 6px rgba(0, 0, 0, 0.3);
  border-radius: 10%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  transition: transform 0.2s ease;
}

.buttons a:hover {
  transform: scale(1.1);
}

.buttons a .i {
  margin-left: 16px;
  font-size: large;
  color: white;
  transition: color 0.5s ease;
}

.buttons a:hover .i {
  color: rgb(255, 1, 1);
}

.profile-image {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
  background: #212428;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3), -6px -6px 6px rgba(0, 0, 0, 0.3);
  border-radius: 10%;
}
.profile-image2 {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
  background: #212428;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3), -6px -6px 6px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}
.heading {
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3), -6px -6px 6px rgba(0, 0, 0, 0.3);
  animation: bgAnimation 20s ease-in-out infinite;
  transition: box-shadow 0.3s ease-in-out;
  width: fit-content;
  margin: auto;
  font-weight: 400;
  color: rgb(255, 0, 76);
  font-family: Berkshire Swash;
}
.add {
  padding: 10px 20px;
  border-radius: 8px;
  background: #212428;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3), -6px -6px 6px rgba(0, 0, 0, 0.3);
  animation: bgAnimation 20s ease-in-out infinite;
  transition: box-shadow 0.3s ease-in-out;
  width: fit-content;
  font-weight: 400;
  font-family: Berkshire Swash;
}

.section {
  @apply py-8 lg:py-24 lg:h-screen flex items-center;
}
.about-description {
  text-align: start;
  max-width: 600px;
  margin: auto;
  padding: 20px;

  border-radius: 10px;
  background: #212428;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3), -4px -4px 4px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
  color: #d3d3d4;
}

.about-description:hover {
  background: #212428;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3), -6px -6px 6px rgba(0, 0, 0, 0.3);
  color: #ececee;
}
.neu {
  text-align: start;
  margin: auto;

  border-radius: 10px;
  background: #212428;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3), -4px -4px 4px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
  color: #d3d3d4;
}
.card {
  text-align: start;
  margin: auto;
  height: 400px;
  border-radius: 10px;
  background: #212428;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3), -4px -4px 4px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
  color: #d3d3d4;
}

.nbtn {
  text-align: center;
  margin: auto;
  font-size: 14px;
  border-radius: 10px;
  background: #212428;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3), -2px -2px 2px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
  color: rgb(255, 0, 76);
  text-transform: uppercase;
  font-family: Berkshire Swash;
  letter-spacing: 2px;
}

.nbtn:hover {
  background: #212428;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3), -6px -6px 6px rgba(0, 0, 0, 0.3);
}

.bangla {
  font-family: Galada;
}
